<div>
  <h3>What pet would be a right fit for me?</h3>
  <p>
    You would want to find a pet with energy and activity level that fits your lifestyle.
    Be sure to research the temperament and exercise needs of different animals and
    breeds that is suitable for your lifestyle before adopting.
  </p>
</div>
<div>
  <h3>How expensive is it to adopt a pet?</h3>
  <p>
    You would need to consider food, supplies, medication, vet bills, training and more.
    You may also need to spend time and money preparing your home or car
    to accomodate your new pet (such as getting extra carpets,
    crates, playpens, etc).
  </p>
</div>
<div>
  <h3>Am I able to adopt a pet while I'm renting my home?</h3>
  <p>
    Check with your landlord if they allow pets. Ask about breed or size restrictions or if 
    there are extra deposits reqirements and monthly fees.
  </p>
</div>
<div>
  <h3>Would I need a pet license?</h3>
  <p>
    If you are living in Vancouver and are planning to adopt a dog, you need to buy a new license,
    as dog licenses are not transferable to new owners.
  </p>
</div>
<div>
  <h3>I found a pet I'm interested in adopting. What information do I need to obtain from thier current owner?</h3>
  <h5>Pet's Health History</h5>
  <p>
    It is important to ask the pet's Veterinary records or ask for permission to obtain the
    records form the pet's current veterinary clinic.
    You should also check if they are on any medications, have ongoing treatment or have any allergies.
  </p>
  <h5>Pet's behavior and routine</h5>
  <p>
    Ask about the general temperament (if they are friendly or shy) and social habits
    (how comfortable they are around strangers, children, other animals) so you can better understand
    how to interact with them. It is also important to ask about their current diet, type of food,
    feeding time, and exercise level to maintain a consistent routine after adoption.
  </p>
  <h5>Relevant documentation</h5>
  <p>
    If the pet's current owner have adoption papers, request a copy of it.
    If the pet has a microchip, ask for transfer of microchip account.
  </p>
</div>