<div>
  <h3>I am unable to care for my pet. What do I do?</h3>
  <p>
    Reach out to family and friends to see if they are able to care for your pet.
    It may be easier for your pet to transition to a new home and guardian that they are
    already familar with.
    The next best option is to create a pet information posting to find a new guardian who 
    is a right match for your pet. There are online applications and websites available such as Paws and Homes.
    Some veterinarians and local businesses may have public billboards for pets that
    needa new home.
    The final option would be to contact an adoption agency as as the SPCA.
  </p>
</div>
<div>
  <h3>I found a potential new guardian for my pet. What information about my pet should I provide?</h3>
  <p>
    Discuss your pet's personality and needs with the new guardian to make sure it's a match.
    Discuss potential issues that the new home should be willing to work on.
    Remember to transfer your pet's registered ID.
  </p>
</div>