body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 60px calc(100vh - 120px) 60px;
}

main {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.main-content {
    margin: 15px;
    padding: 20px;
    max-height: 600px;
    max-width: 400px;
    background-color:rgba(128, 128, 128, 0.491);
    color: aliceblue;
}

.main-content  img {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
}

.card-body > h3 {
    margin: 0;
}

#menu {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuButton {
  width: 40px;
}

@media screen and (max-width: 720px) {
    .main-content-wrapper {
        display: flex;
        justify-content: center;
    }

    #petProfiles-go-here {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) and (min-width: 721px) {
    #petProfiles-go-here {
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1201px) {
    #petProfiles-go-here {
        display: grid;
        grid-template-columns: 33vw 33vw 33vw;
        grid-template-rows: auto;
    }
}

@media screen and (min-width: 1440px) {
    #petProfiles-go-here {
        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: auto;
    }
}