body {
    margin: 0;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 60px calc(100vh - 120px) 60px;
}

main {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

h1 {
    text-align: center;
    padding-top: 20px;
    color: rgb(91, 57, 7) !important;
}

#noContacts {
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}

.pet-contact-card {
    border: 1px solid rgb(138, 135, 124);
    max-width: 400px;
    border-radius: 10px;
}

.pet-contact-card > img {
    width: 100%;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pet-name {
    font-size: 2em;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: rgb(240, 232, 196);
}

.pet-info {
    height: 50px;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .main-content-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    #contacts-go-here {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 951px) {
    .main-content-wrapper {
        padding: 20px;
        width: 100%;
    }

    #contacts-go-here {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 20px;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1441px) {
    .main-content-wrapper {
        padding: 20px;
        width: 100%;
    }
    
    #contacts-go-here {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 20px;
    }
}

@media screen and (min-width: 1921px) {
    .main-content-wrapper {
        padding: 20px;
        width: 100%;
    }
    
    #contacts-go-here {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        gap: 20px;
    }
}