#container {
  padding-top: 50px;
  padding-bottom: 100px;
  margin: auto;
  width: 40%;
}

#petImage {
  width: 100%;
}

#menu {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuButton {
  width: 40px;
}

#menuPlaceholder {
  padding-top: 10px;
  padding-bottom: 10px;
}

#title {
  text-align: center;
}

#links {
  display: flex;
  justify-content: space-around;
}

#hidePlaceholder {
  cursor: pointer;
}


@media (max-width: 800px) {
  #container {
    width: 80%;
  }
}
