main {
  padding-top: 150px;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

p, a {
  font-size: 1.3em;
}

.petName {
  font-size: 2em;
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  background-color: rgb(240, 232, 196);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.userCard {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.heading {
  font-size: 1.5em;
}

.petCard {
  border: 1px solid rgb(138, 135, 124);
  width: 450px;
  border-radius: 10px;
}

.petInfo {
  padding: 0 20px 0 20px;
}

.contacts {
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}

.interested {
  height: 170px;
  overflow-y: auto;
  overflow-x: hidden;
}

