main {
  padding-top: 100px;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;;
  gap: 20px;
  flex-wrap: wrap;
}

.petName {
  font-size: 2em;
}

.userCard {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 1.5em;
}

.petCard {
  border: 1px solid gray;
  width: 450px;
  padding: 20px;
  border-radius: 5px;
}