body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container {
    max-width: 400px;
    width: fit-content;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    justify-items: center;
}

.pet-section {
    margin-top: 30px;
}

.pet-info img {
    transform: translateX(50%);
    width: 50%;
    max-width: fit-content;
    border-radius: 8px;
    margin-bottom: 15px;
}

.pet-info {
    width: fit-content;
    margin-bottom: 20px;
}

.pet-info h1 {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    justify-content: space-between;
}

.actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0078ff;
    color: #fff;
}

.actions button:hover {
    opacity: 0.9;
}

.delete-btn {
    background-color: #ff4d4d;
}

.hidden {
    display: none;
}

#edit-form {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative;
}

#edit-form h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
}

#edit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#edit-form input,
#edit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

#edit-form textarea {
    resize: vertical;
    min-height: 100px;
}

#edit-form button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
}

#edit-form button[type="submit"] {
    background-color: #0078ff;
    color: #fff;
}

#edit-form button[type="submit"]:hover {
    opacity: 0.9;
}

#edit-form button[type="button"] {
    background-color: #ccc;
    color: #333;
}

#edit-form button[type="button"]:hover {
    background-color: #bbb;
}

#edit-size {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #fff;
    cursor: pointer;
}

@media (min-width: 1024px) {
   .pet-info {
        width: 70%;
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
    
}

@media (max-width: 768px) {
    .container {
        width: fit-content;
    }
}